<!-- chnote Added "extends base" below 10/10/18 -->
{% extends 'heritagesites/base.html' %}

{% block content %}

{% include 'pagination.html' %} 

<!-- added above after taking out nav (section 5.4 of exercise 7, nov 5 2018-->

<article>
  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>UNESCO Heritage Sites</h2>
      </div>
      <div class="col-sm-1">
        {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary" href="{% url 'site_new' %}">new</a>
        {% endif %}
      </div>
    </div>
  </header>

  <!-- WARNING: there is no missing code between <nav>...</nav> -->


  {% if sites %}
  <ul>

    <!-- chnote added for site in sites 10/10/18 -->

    {% for site in sites %}

    <!-- safe filter on for raw HTML stored in database -->
    <li><a href="{% url 'site_detail' site.pk %}">{{ site.site_name | safe }}</a></li>


    <!-- chnote added endfor 10/10/18 -->

    {% endfor %}

  </ul>
  {% else %}
  <p>No Heritage Sites are available to view.</p>
  {% endif %}

  <p>page count: {{ sites.count }}</p>
</article>

{% endblock content %}}